{% extends "music/header_nologin.html" %}
{% block content %}
<div class="container">
    <br>
    <div style="margin: auto; width: 60%;">
        <form method = 'POST' action="">
            {% csrf_token %}
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
                      <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                      <label for="floatingPassword">Password</label>
                    </div>
                </div>
                <br>
                {% for messages in messages %}
                    <p>{{messages}}</p>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'music:register' %}" style="margin-left: 10px;">Register</a>
            </fieldset>
        </form>
        <br>
    </div>
</div>
{% endblock %} 