{% extends "music/header.html" %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-9" style="text-align: center;">
            <h1>{{ album }}</h1>
            <title>{{ album }} - Rayyanify</title>
            <img src="{{cover}}/cover.jpg" alt="Album Art" style="width: 100%; border-radius: 5px; max-width: 300px;">
        </div>
        <div class="col"></div>
    </div>
    {% if context %}
        {% for song in context %}
            <div class="row">
                <br>
                <br>
                <p style="margin-left: 10px;">{{ song.title }}</p>
                <audio controls preload="metadata">
                    <source src="{{ MEDIA_URL }}{{song.location}}" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>
            </div>
        {% endfor %}
    {% endif %}
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}